{% extends "layout.twig" %}

{% block head %}
    {% if currentPage > 1 %}
        <link rel="prev" href="{{ previousPage|pageLink }}" />
    {% endif %}

    {% if currentPage != numPages %}
        <link rel="next" href="{{ nextPage|pageLink }}" />
    {% endif %}
{% endblock %}

{% block content %}
    {% if currentPage == 1 %}
        <div class="container">
            <div class="page-header">
                <h1>Read-only mirror of all <a href="http://github.com/{{ githubOrganization|e('url') }}/{{ githubRepository|e('url') }}/issues" target="_blank">{{ projectName }} issues</a>.</h1>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="page-header">
                <h1>{{ projectName }} Issues <small>Page {{currentPage}}</small></h1>
            </div>
        </div>
    {% endif %}

    <div class="container">

        {% for issue in issues %}
            <div class="list-group">
                <a href="{{ issue.number|issueLink }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ issue.title }} <small>#{{ issue.number }}</small></h4>
                    <p class="list-group-item-text">
                        <small>
                            opened by @{{ issue.user.login }} on {{ issue.created_at|date }}
                            {% if issue.state == 'closed' %}
                                <span class="label label-default">closed</span>
                            {% endif %}
                        </small>
                    </p>
                </a>
            </div>
        {% endfor %}

        <ul class="pagination">
            {% if currentPage > 1 %}
                <li><a href="{{ previousPage|pageLink }}" title="Previous page">&laquo;</a></li>
            {% endif %}

            {% for pageEntry in 1..numPages %}
                <li {% if pageEntry == currentPage %}class="active"{% endif %}>
                    <a href="{{ pageEntry|pageLink }}" title="Page {{ pageEntry }}">{{ pageEntry }}</a>
                </li>
            {% endfor %}

            {% if currentPage != numPages %}
                <li><a href="{{ nextPage|pageLink }}" title="Next page">&raquo;</a></li>
            {% endif %}
        </ul>

    </div>

{% endblock %}