{% extends "layout.twig" %}
{% import "macros.twig" as macro %}

{% block head %}
    {% if currentPage > 1 %}
        <link rel="prev" href="{{ url_for('page', [] , { 'page': previousPage }) }}"/>
    {% endif %}

    {% if currentPage != numPages %}
        <link rel="next" href="{{ url_for('page', [], { 'page': nextPage }) }}"/>
    {% endif %}

    <link rel="canonical" href="https://github.com/matomo-org/matomo/issues/" />
{% endblock %}

{% block content %}
    {% if currentPage == 1 %}
        <div class="container">
            <div class="page-header">
                <h1>Read-only mirror of all <a
                            href="https://github.com/{{ githubOrganization|e('url') }}/{{ githubRepository|e('url') }}/issues"
                            target="_blank">{{ projectName }} issues</a>.</h1>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="page-header">
                <h1>{{ projectName }} Issues
                    <small>Page {{ currentPage }}</small>
                </h1>
            </div>
        </div>
    {% endif %}
    <hr>

    <div class="container">
        {{ macro.pagination(numPages, currentPage) }}
        <div class="card-deck"><div class="row">
            {% for issue in issues %}
                <div class="col-lg-3 col-md-4">
                    <a href="{{ url_for('issue', { 'number': issue.number }) }}" class="card overviewCard">
                        <div class="card-body">
                            <h4 class="card-title">{{ issue.title }}
                                <small>#{{ issue.number }}</small>
                            </h4>
                            <small>
                                opened by @{{ issue.user.login }} on {{ issue.created_at|date }}
                                {% if issue.state == 'closed' %}
                                    <span class="badge badge-secondary">closed</span>
                                {% endif %}
                                {{ macro.labels(issue.labels) }}
                            </small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div></div>
        {{ macro.pagination(numPages, currentPage) }}
    </div>

{% endblock %}